@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Rosewater Palette for accents */
  --primary-rgb: 239, 150, 150;
  --primary-foreground-rgb: 255, 255, 255;
  
  /* Main App Professional Theme */
  --background-light-rgb: 248, 249, 250;
  --foreground-light-rgb: 33, 37, 41;
  --border-light-rgb: 222, 226, 230;

  /* Login Page Theme */
  --login-background-rgb: 254, 240, 238;
  --login-foreground-rgb: 75, 85, 99;
}

body {
  /* Default styles for the main application */
  color: rgb(var(--foreground-light-rgb));
  background-color: rgb(var(--background-light-rgb));
}
.dot-grid-background {
  background-image: radial-gradient(circle at 1px 1px, rgba(0,0,0,0.08) 1px, transparent 0);
  background-size: 25px 25px;
}